@model IEnumerable<TimeAttendance>
<thead>
<tr>
    <th>Name</th>
    <th>From</th>
    <th>To</th>
    <th>Worktime</th>
    <th>Overtime</th>
    <th>Late</th>
    <th>Undertime</th>
</tr>
</thead>
<tbody>
    @Html.Partial("_Rows", AttendanceSummary.Create(Model.ToList()).OrderBy(q => q.EmployeeName))
</tbody>
<tfoot>
<tr class="hidden">
    <td>
        @for (var i = 0; i < Model.Count(); i++)
        {
            var row = Model.ElementAt(i);
            var model = $"TimeAttendance[{i}]";
            <input type="hidden" value="@row.EmployeeName" name="@($"{model}.EmployeeName")" />
            <input type="hidden" value="@row.EmployeeTitle" name="@($"{model}.EmployeeTitle")" />
            <input type="hidden" value="@row.Date" name="@($"{model}.Date")" />
            <input type="hidden" value="@row.TimeIn" name="@($"{model}.TimeIn")" />
            <input type="hidden" value="@row.TimeOut" name="@($"{model}.TimeOut")" />
            <input type="hidden" value="@row.Worktime" name="@($"{model}.Worktime")" />
            <input type="hidden" value="@row.Late" name="@($"{model}.Late")" />
            <input type="hidden" value="@row.Overtime" name="@($"{model}.Overtime")" />
            <input type="hidden" value="@row.Undertime" name="@($"{model}.Undertime")" />
            <input type="hidden" value="@row.Remarks" name="@($"{model}.Remarks")" />
        }
    </td>
</tr>
</tfoot>

